.DS_Store
.vagrant


public/adminx8tzc6y6nt/autoupgrade/*
!public/adminx8tzc6y6nt/autoupgrade/index.php
!public/adminx8tzc6y6nt/autoupgrade/backup/index.php

public/adminx8tzc6y6nt/backups/*
!public/adminx8tzc6y6nt/backups/.htaccess

public/adminx8tzc6y6nt/import/*
!public/adminx8tzc6y6nt/import/.htaccess
!public/adminx8tzc6y6nt/import/index.php

public/adminx8tzc6y6nt/export/*
!public/adminx8tzc6y6nt/export/.htaccess
!public/adminx8tzc6y6nt/export/index.php
