.DS_Store
.vagrant


public/admin*/autoupgrade/*
!public/admin*/autoupgrade/index.php
!public/admin*/autoupgrade/backup/index.php

public/admin*/backups/*
!public/admin*/backups/.htaccess

public/admin*/import/*
!public/admin*/import/.htaccess
!public/admin*/import/index.php

public/admin*/export/*
!public/admin*/export/.htaccess
!public/admin*/export/index.php


# Modules we cannnot install with composer
!public/modules/mondialrelay
!public/modules/paypal
!public/modules/ps_searchbarjqauto


# remove this line it is only for the starter
# to prevent committing public files
public