
.modal{
    color: $body-color;
}
.modal-content.modal-content{
    box-shadow: none;
}

.modal-content{
    background-color: transparent;
}

.modal-header{
    align-items: center;
    .close{
        opacity: 1;
    }
    .close__txt{
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
    }
    .close__icon{
        display: inline-block;
        vertical-align: middle;
        font-size: 1.5rem;
    }
}

.modal-title{
    @extend .h1;
    text-align: center;
    // color: theme-color("primary-darker");
    margin-bottom: 0.5*$grid-gutter-width;
}

.modal-body{
    background-color: $modal-content-bg;
}