.slick-arrow {
    position: absolute;
    top:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    z-index: 1;

    & > i{
        font-size: 2*$font-size-base;
        line-height: 1;
        background: #fff;
        border-radius: 50%;
    }

 }
.slick-prev {
    left:0;
}
.slick-next{
    right:0;
}
.slick-slide figure{
    margin: 0;
}
.slick__arrow-outside {
    .slick-prev {
        transform:translateX(-50px);
    }
    .slick-next{
        transform:translateX(50px);
    }
}

.slick-slide{
    img{
        opacity: 0;
    }
    &.slick-active{
        img{
            opacity: 1;
        }
    }

}