.blockreassurance{
    
    &__item{
        @extend .col;
        @extend .col-md;
        @extend .col-lg;
        padding-top: 20px;
        padding-right: ($grid-gutter-width - 5px);
        padding-bottom: 20px;
        padding-left: ($grid-gutter-width - 5px);
        display: flex;
        align-items: center;
        background-color: white;
        border: solid 1px;
    }
    &__img{
        @extend .col-3;
        padding-right: 10px;
        padding-left: 10px;
        max-width: 70px;
        text-align: center;
    }
    &__txt{
        @extend .col-9;
        padding-right: 10px;
        padding-left: 10px;
    }
    &__title{
        font-weight: normal;
        color: theme-color("primary");
    }
}