.section{
    padding-top: 2*$spacer;
    padding-bottom: 2*$spacer;
    &--mt0{
        margin-top: 0;
    }
    &--mt0\.5{
        margin-top: 0.5*$spacer;
    }
    &--mt1{
        margin-top: $spacer;
    }
    &--mt2{
        margin-top: 2*$spacer;
    }
    &--mt2\.5{
        margin-top: 2.5*$spacer;
    }
    &--mt3{
        margin-top: 3*$spacer;
    }

    &--mb0{
        margin-bottom: 0;
    }
    &--mb0\.5{
        margin-bottom: 0.5*$spacer;
    }
    &--mb1{
        margin-bottom: $spacer;
    }
    &--mb2{
        margin-bottom: 2*$spacer;
    }
    &--mb2\.5{
        margin-bottom: 2.5*$spacer;
    }
    &--mb3{
        margin-bottom: 3*$spacer;
    }

    &--pt0{
        padding-top: 0;
    }
    &--pt0\.5{
        padding-top: 0.5*$spacer;
    }
    &--mt1{
        padding-top: $spacer;
    }
    &--pt2{
        padding-top: 2*$spacer;
    }
    &--pt2\.5{
        padding-top: 2.5*$spacer;
    }
    &--pt3{
        padding-top: 3*$spacer;
    }

    &--pb0{
        padding-bottom: 0;
    }
    &--pb0\.5{
        padding-bottom: 0.5*$spacer;
    }
    &--pb1{
        padding-bottom: $spacer;
    }
    &--pb2{
        padding-bottom: 2*$spacer;
    }
    &--pb2\.5{
        padding-bottom: 2.5*$spacer;
    }
    &--pb3{
        padding-bottom: 3*$spacer;
    }
    &--pb4{
        padding-bottom: 4*$spacer;
    }
}