/* HEADER */
.l-header{
    background-color: $header-bg;
}
@include media-breakpoint-down(sm) {
    .header__container{
        padding-left: 0;
        padding-right: 0;
    }
    .logo{
        width:100%;
        max-width: 115px;
    }
}

.header__nav{
  align-items: center;
}
.header-nav__nav2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-mobile__user-cart{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__top{
  display: flex;
  justify-content: space-between;
  position: static;
}

.displayNav1{
    display: flex;
    align-items: center;
}
.displayNav2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header--mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.top-logo{
    text-align: center;
}
.mobile-user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.displayTop{
    display: flex;
    justify-content: space-between;
    position: static;
}

//checkout part
